<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"> <!-- bootstrap icons -->

    <title>Tanner Hunt's portfolio</title>
  </head>

  <body style="background-color: #122752;" class="container-xl container-fluid-lg">
   
   <!-- banner -->
    <div class="navbar navbar-inverse" style="position: sticky; top: 0; z-index: 3; background-color: aliceblue;">
        <div class="btn-group btn-group-md" >
            <a href="../../index.html" class="btn">Home</a>
            <a href="../views/data_science_view.html" class="btn btn-primary">Data Science</a>
            <a href="../views/graphics_and_games_view.html" class="btn">Computer Graphics</a>
            <!-- Features to be added after this class is over
            <a href="src/views/get_to_know_me.html" class="btn">Get to know me</a>
            <a href="src/views/contact_me_view.html" class="btn">Contact Me</a>
            -->
        </div>
    </div>

    <!-- Project Selection Area -->
     <div class="container-fluid">
        <!-- header -->
        <div class="row" style="background-color: aliceblue;">
            <h1 class="display-4 fw-bold text-body-emphasis mx-4">Projects</h1>
        </div>

        <!-- Row of clickable cards -->
         <div class="row g-4 py-2 px-4 row-cols-1 row-cols-lg-3" style="background-color: aliceblue;">
            <!-- feature 1-->
            <div class="feature col mx-2" style="border-style: solid; border-width: 2px; border-color: #122752; border-radius: 5px"> <!-- border for selected items, when Angular blog-post loading is enacted -->
                <div class="feature-icon text-light mb-2 mt-2 d-inline-flex align-items-center justify-content-center p-2" style="background-color: #122752; border-radius: 0.5rem;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-bar-chart-fill" viewBox="0 0 16 16">
                     <path d="M1 11a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1zm5-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1z"/>
                    </svg>
                </div>
                <h2 class="border-bottom border-2">Travel Website & User Analytics</h2>
                <p>A project built in SNHU's CS465: Full Stack Web Development.  This is a website built upon a MEAN stack, which presents users with vacation packages and gives adminstrative staff an interface to manage CRUD operations.  This project was iterated upon in SNHU CS499 to additionally track user clicks and page views to present analytics to administrative staff.</p>
            </div>

         </div>
     </div>

    <!-- Article Area -->
     <div">
        
        <!-- Article Image Carousel -->
        <div id="carouselIndicators" class="carousel slide py-2 px-2" style="background-image: linear-gradient(aliceblue, #122752);">
        
        <!-- Indicator buttons on the bottom -->
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        
        <!-- pictures -->
        <div class="carousel-inner" style="width:100%; height: 800px;">
            <div class="carousel-item active"  style="width: 100%; height: 100%; object-fit: contain;">
                <img src="../assets/images/c-plus-plus.png" class="d-block w-100 h-100" style="object-fit: contain;" alt="...">
            </div>
            <div class="carousel-item" style="width: 100%; height: 100%; object-fit: contain;">
                <img src="../assets/images/trip-views.png" class="d-block w-100 h-100" style="object-fit: contain;" alt="...">
            </div>
            <div class="carousel-item ratio ratio-16x9" style="width: 100%; height: 100%; object-fit: contain;">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/MGMP0fzihEw?si=0h2bbykjmgNM-p9J" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>

        <!-- Left arrow button -->
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>

        <!-- Right arrow button -->
        <button class="carousel-control-next" type="button" data-bs-target="#carouselIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
        </div>

        <!-- Article Header  -->
        <div class="col">
            <h2 class="text-light mx-4">CS499 Capstone Database Enhancement</h2>
            <h4 class="text-light mx-4 fst-italic">October 12, 2025</h4>
        </div>

        <!-- article body -->
        <div class="mx-4 text-white text-start">
            <h2 class="fw-bold">Professional Self Assessment</h2>
            <p class="f5">text goes here</p>

            <h2 class="fw-bold">Project Narrative:</h2>
            <h3 class="text-start fw-bold fst-italic">Introduction to the artifact</h3>
            <p class="fs-5">This is a full stack application developed in SNHU’s CS465: Full Stack Development I.  
                It was developed between the months of June and August, 2025.  This is a RESTful MEAN
                 application with two components: a storefront that delivers statically 
                 generated html content to users looking to purchase vacation packages and an angular
                  website for administrators to create, update, and delete vacation packages.</p>
            
            <p class="fs-5">
            I've added analytics to the webpage.  User page views will be recorded, 
            and an analytics dashboard will be shown to admin users.  I selected this artifact to reflect 
            the growing trend of big data in computer science.  Extracting information from user 
            behaviors is a salient skill because recommender systems increase the value of a product 
            to users which then generates revenue for a company.  Business analysts also use this 
            information to make important decisions.  This also allows me to reflect in my portfolio 
            the importance of ethics, data privacy, and secure coding practices in software engineering
             because extracting personally identifiable information touches on those three domains.
            </p>

            <h3 class="text-start fw-bold fst-italic">Enhancements Completed</h3>
            <p class="fs-5">The website now records when and which links users access.  Administrators
                can see the total view count of each vacation package, as well as graphs of which
                packages have been viewed.  This information is secured through an authentication
                service. 
            </p>

            <h3 class="text-start fw-bold fst-italic">Reflection</h3>
            <p class="fs-5">There were two related challenges I faced while building this enhancement.  
                I had to refamiliarize myself with the project architecture as well as the technology 
                stack.  One particular challenge I had to overcome was that data was not crossing over
                between HTML tags and javascript.  This was caused by using uppercase letters in the 
                data-* attribute.  While I've read that using uppercase letters in html 
                attributes is bad practice, I didn't know this was why.  I overcame this challenge through
                experimenting with my code.  Otherwise, what helped me in developing these features was to create incremental 
                improvements, review past code I’ve written, and review API documentation.</p>

            <h3 class="text-start fw-bold fst-italic">Skills Demonstrated</h3>
            <p class="fs-5">Text goes here</p>

            <h3 class="text-start fw-bold fst-italic">Course Outcomes Demonstrated</h3>
            <ul class="list-group list-group-flush">
                <li class="list-group-item  bg-transparent text-white fst-italic fs-5">"Develop a security mindset that anticipates 
                    adversarial exploits in software architecture and designs to expose potential vulnerabilities, 
                    mitigate design flaws, and ensure privacy and enhanced security of data and resources"</li>
                <li class="list-group-item  bg-transparent text-white fs-5">Developing a mindset of security starts
                    with design.  FINISH THIS
                </li>
            </ul>

            <h3 class="text-start fw-bold fst-italic">Enhancements Completed</h3>
            <p class="fs-5">Text goes here</p>

        </div>

        <!-- links -->
        <div class="text-center">
            <a href="https://github.com/teriket/cs465-fullstack/tree/module7" target="_blank" class="btn btn-primary my-2">Original Github Repo</a>
        </div>
         <div class="text-center">
            <a href="https://github.com/teriket/cs465-fullstack/tree/analytics" target="_blank" class="btn btn-primary my-2">Updated Github Repo</a>
         </div>

     </div>

    <!--bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  </body>
</html>