<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Tanner Hunt's portfolio</title>
  </head>

  <body style="background-color: #122752;">
   
   <!-- banner -->
    <div class="navbar navbar-inverse" style="position: sticky; top: 0; z-index: 3; background-color: white;">
        <div class="btn-group btn-group-md" >
            <a href="../../index.html" class="btn">Home</a>
            <a href="../views/data_science_view.html" class="btn">Data Science</a>
            <a href="src/views/graphics_and_games_view.html" class="btn btn-primary">Computer Graphics</a>
            <!-- Features to be added after this class is over
            <a href="src/views/get_to_know_me.html" class="btn">Get to know me</a>
            <a href="src/views/contact_me_view.html" class="btn">Contact Me</a>
            -->
        </div>
    </div>

    <!--bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  </body>
</html>